
@font-face
{
font-family: Atlantic Inline;
src: url('Atlantic Inline.otf'),
     url('Atlantic Inline.TTF'); 
}

@font-face
{
font-family: Videopac;
src: url('Videopac.otf'),
     url('Videopac.ttf'); 
}

@font-face
{
font-family: coco;
src: url('Coco.otf'); 
}

/*菜单父子排版设置*/
#wrap{
    display: flex;
    justify-content: center;
}
/*图片介绍父子排版设置*/
.wrap1{
    display: flex;
    justify-content: space-between;
}
/*菜单板块
display:table和a元素的display:table-cell对应
满足上下左右居中*/
.menu{  
    width: 15%;
    height: 50px;
    background-color: #333333;
    margin-left: 5px;
    margin-right: 5px;
    display:table;
}

.class1{
    width: 100%;
    height: 250px;
}
/*清除a元素下划线
a元素默认inline无法进行text-align
修改格式使用text-align*/
.classew{
    text-decoration:none; 
    display: table-cell;
    vertical-align: middle;
    text-align: center;   
    font-family:Atlantic Inline;
    color: white;
    font-size: 20px;
    
}

.classw1{
    font-family:Videopac;
    font-size: 45px;
    color: #A29061;
    letter-spacing: 20px;
    text-align: center;
    font-style: bold;
}
.classw2{
    text-align: center;
    margin: 10px;
    font-family:coco;
    color: darkgray;
    font-style: italic;
    }

#room{
    width: 100%;
    height: 220px;
}
#resta{
    width: 100%;
    height: 220px;
}
#meet{
    width: 100%;
    height: 220px;
}
#fa{
    width: 100%;
    height: 220px;
}

.class2{
    width: 30%;
    height: 400px;
    background-color: #333333;
    margin-left: 5%;
}

.class2:hover{
    width: 50%;
    height: 400px;
    background-color: #333333;
    transition-duration: 400ms;
    margin-left: 5%;
}

 .class3{
    width: 30%;
    height: 400px;
    background-color: #333333;
    margin-right: 5%;

}
.class3:hover{
    width: 50%;
    height: 400px;
    background-color: #333333;
    margin-right: 5%;
    transition-duration: 400ms;
}
.classsh{
    font-family: Atlantic Inline;
    font-size: 30px;
    color: #A29061;
    text-align: center;
}

